$btn-border-radius: 4rem;
$primary: #745BB3;
$secondary: #F9B860;
$light: #FFFFFF;
$dark: #30302F;

$theme-colors: (
    'primary': $primary,
    'secondary': $secondary,
    'light': $light,
    'dark': $dark

);



