.container-btn{
    display: flex;
    justify-content: flex-start;
}
.custom-btn-transparent{
    background-color: transparent;
    border-radius: 3em;
    color: white;
    border: 2px solid white;
}
.custom-btn-white{
    background-color: white;
    border-radius: 3em;
    color: #5C488F;
    border: 2px solid white;
}