.btnAdd{
    padding: 7px 15px !important;
    // color: #745BB3;
    border-radius: 0 !important;
    margin: 0 2vw;
}

.buttonright{
  border-top-right-radius: 45px !important;
  border-bottom-right-radius: 45px !important;
}
.buttonleft{

    border-top-left-radius: 45px !important;
    border-bottom-left-radius: 45px !important;
  }
